= render partial: 'devise/header'

.singup-main
  .singup-main__container
    %h2.singup-main__container__header 会員情報入力
    .singup-main__container__content
      .singup-main__container__content__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .singup-main__container__content__form__group
            %ul.singup-main__container__content__form__group__box
              %li.singup-main__container__content__form__group__box__type
                = f.label :nickname, 'ニックネーム'
              %li.singup-main__container__content__form__group__box__terms
                必須
              %br/
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例)フリマ太郎",class:"singup-main__container__content__form__group__text"

          .singup-main__container__content__form__group
            %ul.singup-main__container__content__form__group__box
              %li.singup-main__container__content__form__group__box__type
                = f.label :email, 'メールアドレス'
              %li.singup-main__container__content__form__group__box__terms
                必須
              %br/
              = f.email_field :email, autocomplete: "email", class:"singup-main__container__content__form__group__text",placeholder:"PC・携帯どちらでも可"

          .singup-main__container__content__form__group
            %ul.singup-main__container__content__form__group__box
              %li.singup-main__container__content__form__group__box__type
                = f.label :password, 'パスワード'
              %li.singup-main__container__content__form__group__box__terms
                必須
              %br/
              = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上" , class:"singup-main__container__content__form__group__text"
          
          .singup-main__container__content__form__group
            %ul.singup-main__container__content__form__group__box
              %li.singup-main__container__content__form__group__box__type
                = f.label :password_confirmation, 'パスワード（確認）'
              %li.singup-main__container__content__form__group__box__terms
                必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "7文字以上",class:"singup-main__container__content__form__group__text"
            
          .singup-main__container__content__form__group
            .singup-main__container__content__form__group__checkbox
              .singup-main__container__content__form__group__checkbox__info
                ※英字と数字の両方を含めて設定してください
              .singup-main__container__content__form__group__checkbox__btn
                %input{type: "checkbox", class: "singup-main__container__info__checkbox"}
                パスワードを表示する
      
          .singup-main__container__footer
            %p.singup-main__container__footer__info
            登録するのボタンを押すことにより、
            = link_to "利用規約", "#"
            に同意したものとみなします。
            = f.submit "登録する",class:"singup-main__container__footer__submit-btn"

= render partial: 'devise/footer'