= render partial: 'devise/header'

.login-main
  .login-main__container
    .login-main__container__header
      .login-main__container__header__text
        アカウントをお持ち出ない方はこちら
      .login-main__container__header__btn
        = link_to "新規会員登録" , "#"
    
    .login-main__container__content
      .login-main__container__content__sns-account
        %button#facebook-login.btn-sns.btn-facebook
          = link_to "https://www.facebook.com/" do
            %i.fa.fa-facebook.icon-facebook
            %span Facebookで登録
            

        %button#google-login.btn-sns.btn-google
          = link_to "https://www.google.com/" do
            %i.fa.fa-google.icon-google
            %span Googleで登録

      .login-main__container__content__form
        .login-main__container__content__form__group
          %input{type: "text",class:"login-main__container__content__form__group__text",placeholder:"メールアドレス"}

        .login-main__container__content__form__group
          %input{type: "text",class: "login-main__container__content__form__group__text",placeholder:"パスワード"}
      
      .login-main__container__content__footer
        %input{type:"submit",class:"login-main__container__content__footer__submit-btn", value:"ログイン"}

= render partial: 'devise/footer'