.container
  = render "items/main-header"
  .mypage
    .mypage__main
      = render "modules/mypage-left"

      .address
        .address-container
          .address-container__head  本人情報

          .address-container__main
            = form_for @address do |f|
              .address-container__main__form
                %label お名前
                %span.input-required 必須
                = f.text_field :familyname, class: "input-default", placeholder: "例) 山田   ※全角で入力して下さい"
                = f.text_field :firstname, class: "input-default", placeholder: "例) 太郎   ※全角で入力して下さい" 
              .address-container__main__form
                %label お名前カナ
                %span.input-required 必須
                = f.text_field :familyname_kana, class: "input-default", placeholder: "例) ヤマダ   ※全角カタカナで入力して下さい"
                = f.text_field :firstname_kana, class: "input-default", placeholder: "例) タロウ   ※全角カタカナで入力して下さい"
              .address-container__main__form
                %label{for: "birthday"} 生年月日
                %span.input-required 必須

                .form-group-tab
                = f.collection_select :birth_year, BirthYyyy.all, :id, :year, {}, class: "select-tab"
                = f.collection_select :birth_month, BirthMm.all, :id, :month, {}, class: "select-tab"
                = f.collection_select :birth_day, BirthDd.all, :id, :day, {}, class: "select-tab"
                -# = f.date_select :birth_year, start_year: 1940, end_year: Time.current.year, use_month_numbers: true
              .address-container__main__form
                %label{for: "zip_code"} 郵便番号
                %span.input-required 必須
                = f.number_field :postal_code, class: "input-default", placeholder: "例) 1234567"
              .address-container__main__form
                %label{for: "prefecture"} 都道府県
                %span.input-required 必須
                .form-group-tab
                = f.collection_select :prefecture, Area.all, :id, :name, {}, {class: "select-tab"}       


              .address-container__main__form
                %label{for: "city"} 市区町村
                %span.input-required 必須
                = f.text_field :city, class: "input-default", placeholder: "例) 中央区"                
              .address-container__main__form
                %label{for: "address1_label"} 番地
                %span.input-required 必須
                = f.text_field :block, class: "input-default", placeholder: "例) 日本橋1-1-1"    
              .address-container__main__form
                %label{for: "address2_label"} 建物名
                %span.input-arbitrary 任意
                = f.text_field :building, class: "input-default", placeholder: "例) 三越ビル101"  
              .address-container__main__form
                %label{for: "address2_label"} 電話
                %span.input-arbitrary 任意
                = f.number_field :phone_number, class: "input-default", placeholder: "例) 09012345678"        
                
              .address-container__main__button
              =f.submit "登録する", class: "btn-default"


  -# = render "layouts/footer"
