.header-n
  = link_to image_tag(src= "furima-logo.svg", class: "header-n-logo"),"/"

.item
  = form_with(model: @item, local: true) do |f|
    .item-image
      .item-image-title
        .item-image-title-body
          %ul.item-image-title-body-name
            %li.item-image-title-body-name-a
              出品画像
            %li.item-image-title-body-name-b
              必須
        %p.item-image-title-text
          最大10枚までアップロードできます。
        .item-image-title-box
          .item-image-title-box-input
            #image-box
              #previews
                - if @item.persisted?
                  - @item.images.each_with_index do |image, i|
                    = image_tag image.image.url, data: { index: i }, width: "100", height: '100',id: "item_test", class: "item-image-title-box-input-1-c"
              = f.label :image, class: "item-image-title-box-input-1", for: "item_test" do
                .aa
                  = fa_icon "camera"
              = f.fields_for :images do |image|
                .js-file_group{"data-index" => "#{image.index}"}
                  = image.file_field :image, class: 'js-file', id: "item_test"
                  %br/
                  %span.js-remove 削除
                  
                - if @item.persisted?
                  = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'

              - if @item.persisted?
                .js-file_group{"data-index" => "#{@item.images.count}"}
                  = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
                  .js-remove 削除

              .item-image-title-box-input-1-text
                ドラックアンドドロップ
                またはクリックしてファイルをアップロード
                    
              
    .item-name  
      .item-name-title
        .item-name-title-a
          .item-name-title-a-text
            %ul.item-name-title-a-text-body
              %li.item-name-title-a-text-body-1
                商品名
              %li.item-name-title-a-text-body-2
                必須
          .item-name-title-a-field
            = f.text_field :name, class: "item-name-title-a-field-text", placeholder: "40字まで"

          
        .item-name-title-b
          .item-name-title-b-text
            %ul.item-name-title-b-text-body
              %li.item-name-title-b-text-body-1
                商品の説明
              %li.item-name-title-b-text-body-2
                必須
          .item-name-title-b-field
            = f.text_area :text, class: "item-name-title-b-field-text",  cols: "60", rows: "7", placeholder: "商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点など)                      例）2010年頃には一万円で購入したジャケットです。ライトグレーではありません。あわせやすいのでお勧めです。"

    .item-specific
      .item-specific-title
        .item-specific-title-text
          商品の詳細
          
        .item-specific-title-body-a
          .item-specific-title-body-a-text
            = f.label "カテゴリー", class: "item-specific-title-body-a-text-1"  
            %span.item-specific-title-body-a-text-2  必須
            .item-specific-title-body-a-field
              .item-specific-title-body-a-field-box
                = f.collection_select :category_id, @category_parent_array, :id, :name, {}, { class: "item-specific-title-body-a-field-box-text", id: "parent_category" }
                %i.fas.fa-chevron-down.item-specific-title-body-a-field-box-text-down
              
        .item-specific-title-body-b
          %ul.item-specific-title-body-b-text
            %li.item-specific-title-body-b-text-1
              ブランド
            %li.item-specific-title-body-b-text-2
              任意
          .item-specific-title-body-b-field
            = f.text_field :brnad, class: "item-specific-title-body-b-field-text", placeholder: "例) シャネル"

        .item-specific-title-body-c
          %ul.item-specific-title-body-c-text 
            %li.item-specific-title-body-c-text-1
              商品の状態
            %li.item-specific-title-body-c-text-2
              必須
          .item-specific-title-body-c-field
            = f.collection_select :status_id, Status.all, :id, :name, { include_blank: true, selected: 1 }, { class: "item-specific-title-body-c-field-text"}
  

    .item-delivery
      .item-delivery-title
        .item-delivery-title-text
          配送について 
        .item-delivery-title-body
          %ul.item-delivery-title-body-text
            %li.item-delivery-title-body-text-1
              配送方法
            %li.item-delivery-title-body-text-2
              必須
          .item-delivery-title-body-field
            = f.collection_select :burden_id, Burden.all, :id, :name, { include_blank: true, selected: 1 }, { class: "item-delivery-title-body-field-text"}

        .item-delivery-title-body
          %ul.item-delivery-title-body-text
            %li.item-delivery-title-body-text-1
              発送元の地域
            %li.item-delivery-title-body-text-2
              必須
          .item-delivery-title-body-field
            = f.collection_select :area_id, Area.all, :id, :name, { include_blank: true, selected: 48 }, { class: "item-delivery-title-body-field-text"}
        
        .item-delivery-title-body
          %ul.item-delivery-title-body-text
            %li.item-delivery-title-body-text-1
              発送までの日数
            %li.item-delivery-title-body-text-2
              必須
          .item-delivery-title-body-field
            = f.collection_select :days_to_ship_id, DaysToShip.all, :id, :name, { include_blank: true, selected: 1 }, { class: "item-delivery-title-body-field-text"}

          
      
    .item-price
      .item-price-title
        .item-price-title-text-a
          価格(¥300~9,999,999)
        .item-price-title-text-b
          %ul.item-price-title-text-b-body
            %li.item-price-title-text-b-body-1
              販売価格
            %li.item-price-title-text-b-body-2
              必須
            %li.item-price-title-text-b-body-3
              ¥
          .item-price-title-text-b-field
            =f.number_field :selling_price, class: "item-price-title-text-b-field-text", min: "300", max: "9999999", placeholder: "0", id: "price_calc"
          
    .item-profit
      .item-profit-title
        .item-profit-title-box-a        
          .item-profit-title-box-a-text
            販売手数料(10%)
          .right_bar
            -
          
        .item-profit-title-box-b
          .item-profit-title-box-b-text
            販売利益 
          .right_bar_2
            -

        .item-profit-title-input
          .item-profit-title-input-1
            =f.submit "出品", class: "item-profit-title-input-1-field"
            
          .item-profit-title-input-2
            %input.item-profit-title-input-2-field{type: "submit", value: "下書きに保存する"}
        
          .item-profit-title-input-3
            =link_to "戻る", items_path, class: "item-profit-title-input-3-field"

      .item-profit-title-body
        .item-profit-title-body-1
          禁止されている
          %a{ href: "#", class: "item-profit-body-2"} 行為
          および
          %a{ href: "#", class: "item-profit-body-2"}出品物
          を必ずご確認ください。
          %a{ href: "#", class: "item-profit-body-2"}偽ブランド品
          や
          %a{ href: "#", class: "item-profit-body-2"}盗品物
          などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
          %a{ href: "#", class: "item-profit-body-2"}加盟店規約
          に同意したことになります。    
          

.footer-n
  .footer-n__menu
    = link_to "プライバシーポリシー","#", class:"footer-n__menu--privacy"
    = link_to "メルカリ利用規約","#", class:"footer-n__menu--terms"
    = link_to "特定商取引に関する表記","#", class:"footer-n__menu--notation"

  .footer-n__mark  
    = link_to image_tag(src= "furima-logo.svg", class: "footer-n__mark--logo"),"/"
  .fotter-n__name
    FURIMA