.main-fotter
  .main-fotter_container
    %ul
      %li.main-fotter-cell.about-mercari
        %h2.main-fotter__header
          フリマについて
        %ul
          %li
            = link_to "#" do
              会社概要（運営会社)
          %li
            = link_to "#" do
              採用情報
          %li
            = link_to "#" do
              プレスリリース
          %li
            = link_to "#" do
              公式ブログ
          %li
            = link_to "#" do
              フリマロゴ利用ガイドライン
          %li
            = link_to "https://twitter.com/explore" do
              %i.fa.fa-twitter.fa-lg.icon-twitter
            = link_to "https://www.facebook.com/" do
              %i.fa.fa-facebook-square.fa-lg.icon-facebook

      %li.main-fotter-cell.help-and-guid
        %h2.main-fotter__header
          ヘルプ＆ガイド
        %ul
          %li
            = link_to "#" do
              フリマガイド
          %li
            = link_to "#" do
              らくらくフリマ便
          %li
            = link_to "#" do
              ゆうゆうフリマ便
          %li
            = link_to "#" do
              梱包・発送たのメル便
          %li
            = link_to "#" do
              車体取引ガイド
          %li
            = link_to "#" do
              フリマあんしん・あんぜん宣言！
          %li
            = link_to "#" do
              偽ブランド品撲滅への取組
          %li
            = link_to "#" do
              フリマボックス
          %li
            = link_to "#" do
              スマホ出品・売却相場

      %li.main-fotter-cell.look-at-mercari
        %h2.main-fotter__header
          プライバシーと利用規約
        .look-at-mercari-box
          .look-at-mercari-left
          %ul
            %li
              = link_to "#" do
                プライバシーポリシー
            %li
              = link_to "#" do
                フリマ利用規約
            %li
              = link_to "#" do
                あんしんスマホサポート制度に関する利用特約
            %li
              = link_to "#" do
                コンプライアンスポリシー
          .look-at-mercari-right
          %ul
            %li
              = link_to "#" do
                個人データの安全管理に係る基本方針
            %li
              = link_to "#" do
                特定商取引に関する表記
            %li
              = link_to "#" do
                資金決済法に基づく表示
            %li
              = link_to "#" do
                法令順守と犯罪抑止の為に
          
      %li.main-fotter-cell.country
        %h2.main-fotter__header
          国
        %ul
          %li
            .jp
              = link_to "#" do
                日本
          %li
            .us
              = link_to "＃" do
                United States
  .main-footer-logo
    = link_to "#", class: "main-fotter-logo__icon" do
      =image_tag("/logo-white.png")
    %p.main-fotter-logo__copyright © 2020 FURIMA