.buy

  .buy-header
    = link_to image_tag(src= "/furima-logo.svg", class: "buy-header__logo"),"/"

  .buy-main
    .buy-main__top
      購入内容の確認

    .buy-main__middle
      .buy-main__middle-image
        = image_tag @item.images[0].image.url
      .buy-main__middle-item
        .buy-main__middle-item-name
          = @item.name
        .buy-main__middle-item-price
          .buy-main__middle-item-price-value
            = "¥#{@item.selling_price.to_s}"
          .buy-main__middle-item-price-fee
            （税込）送料込み
      
    .buy-main__bottom
      .buy-main__bottom-form
        .buy-main__bottom-form-pay
          .buy-main__bottom-form-pay-name
            支払い金額
          .buy-main__bottom-form-pay-value
            = "¥#{@item.selling_price.to_s}"
        .buy-main__bottom-form-pay-method
          .buy-main__bottom-form-pay-method-form
            .buy-main__bottom-form-pay-method-form-info
              支払い方法
            .buy-main__bottom-form-pay-method-form-link
              = link_to "変更する",new_card_path, class:"buy-main__bottom-form-pay-method-link--update"
          .buy-main__bottom-form-pay-method-box
            - if @default_card_information.blank?        #カード情報がブランクか確認。カード情報がない場合はクレジットを登録画面に遷移。
              = fa_icon "plus-circle", class:"buy-main__bottom-form-pay-method-box--icon"
              = link_to "登録して下さい",new_card_path, class:"buy-main__bottom-form-pay-method-box--entry"
              %br
            - else                                        #カード情報がある場合はカード情報を表示
              = "カード番号：**** **** **** " + @default_card_information.last4
              %br
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = "有効期限：" + exp_month + " / " + exp_year
            %br
        .buy-main__bottom-form-address

          .buy-main__bottom-form-address-info
            .buy-main__bottom-form-address-info-left
              配送先
            .buy-main__bottom-form-address-info-right
              -# = link_to "変更する",new_address_path, class:"buy-main__bottom-form-address-info-right--update" 
              -# マイページで変更できるようになれば作成する。

          .buy-main__bottom-form-address-box
            - if @address.blank? 
              = fa_icon "plus-circle", class: "buy-main__bottom-form-address-box--icon" 
              = link_to "登録して下さい", new_address_path, class:"buy-main__bottom-form-address-box--entry"
              %br
            - else
              = "〒#{@address.postal_code.to_s}"
              %br
              = @address.prefecture
              %br
              = @address.city
              %br
              = @address.block

        .buy-main__bottom-form-confirm
          = form_tag(action: :pay, method: :post) do
            %button.buy-main__bottom-form-confirm-btm{type:"submit"} 購入する

  .buy-fotter
    .buy-fotter__menu
      = link_to "プライバシーポリシー","#", class:"buy-fotter__menu--privacy"
      = link_to "メルカリ利用規約","#", class:"buy-fotter__menu--terms"
      = link_to "特定商取引に関する表記","#", class:"buy-fotter__menu--notation"

    .buy-fotter__mark  
      = link_to image_tag(src= "/furima-logo.svg", class: "buy-fotter__mark--logo"),"/"
    .buy-fotter__name
      © FURIMA, Inc.